@font-face{
    src: url("AnjaliOldLipi-Regular.ttf");
    font-family: "AnjaliOldLipi";
}

@font-face{
    src: url("Chilanka-Regular.ttf");
    font-family: "Chilanka";
}

@font-face{
    src: url("Dyuthi-Regular.ttf");
    font-family: "Dyuthi-Regular";
}

@font-face{
    src: url("Gayathri-Bold.ttf");
    font-family: "Gayathri-Bold";
}

@font-face{
    src: url("Karumbi-Regular.ttf");
    font-family: "Karumbi-Regular";
}

@font-face{
    src: url("Keraleeyam-Regular.ttf");
    font-family: "Keraleeyam-Regular";
}
@font-face{
    src: url("Lohit-Malayalam.ttf");
    font-family: "Lohit-Malayalam";
}
@font-face{
    src: url("Manjari-Bold.ttf");
    font-family: "Manjari-Bold";
}
@font-face{
    src: url("Manjari-Regular.ttf");
    font-family: "Manjari-Regular";
}
@font-face{
    src: url("Meera-Regular.ttf");
    font-family: "Meera-Regular";
}
@font-face{
    src: url("Rachana-Bold.ttf");
    font-family: "Rachana-Bold";
}
@font-face{
    src: url("Rachana-Regular.ttf");
    font-family: "Rachana-Regular";
}
@font-face{
    src: url("RaghuMalayalamSans-Regular.ttf");
    font-family: "RaghuMalayalamSans-Regular";
}
@font-face{
    src: url("Samyak-Malayalam.ttf");
    font-family: "Samyak-Malayalam";
}
@font-face{
    src: url("Suruma.ttf");
    font-family: "Suruma";
}
@font-face{
    src: url("Uroob-Regular.ttf");
    font-family: "Uroob-Regular";
}
@font-face {
    src: url("NotoSansMalayalam-Bold.ttf");
    font-family: "NotoSansMalayalam-Bold";
  }
  
  @font-face {
    src: url("NotoSansMalayalam-Regular.ttf");
    font-family: "NotoSansMalayalam-Regular";
  }
  
  @font-face {
    src: url("NotoSerifMalayalam-Bold.ttf");
    font-family: "NotoSerifMalayalam-Bold";
  }
  
  @font-face {
    src: url("NotoSerifMalayalam-Regular.ttf");
    font-family: "NotoSerifMalayalam-Regular";
  }


  @mixin f($name){
    @font-face{
        font-family: $name;
        src: url(''+$name+'.ttf');
    }
}

@include f(Aarcha4Blog);
@include f(Azeez GIST-MLOTKarthika);
@include f(BalooChettan_0);
@include f(Deshabhimani_0);
@include f(EGGIndulekha_0);
@include f(GEETHANJALI_0);
@include f(ML-NILA01_NewLipi);
@include f(ML-NILA02_0);
@include f(ML-NILA03_NewLipi);
@include f(ML-NILA07_0);
@include f(ML-NILA07_NewLipi);
@include f(PanchariUniN_0);
@include f(SakalBharati_Malayalam);
