@mixin aks-grad($ty){
    #{$ty}:linear-gradient(70deg,rgb(0, 174, 255), rgb(24, 0, 240));
}

@mixin defShadow {
    box-shadow:#0966ca 0px 5px 9px -3px;
}
@mixin toolboxCo {
    padding: 10px;
    position: absolute;
    z-index: 3;
    top:50px;
    right: 10px;
    height: 70%;
    width: 25%;
    overflow: auto;
    box-shadow: #6d6a88 5px 0px 9px 0;
}

body{
    
    font-family: roboto;
    font-size:15px ;
    margin: 0px;
    //background-image: linear-gradient(120deg, #cbd6e2, #e1c0ec, #d6d6d6);  ::-webkit-scrollbar{
      width: 6px;
   // background-color: rgb(216, 216, 216);
  }
  ::-webkit-scrollbar-thumb{
    
    @include aks-grad(background);
    border-radius:12px;
}

.header{
    top: 5px;
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
   >*{
       box-shadow:#0966ca 0 3px 20px -10px;
   }
    img{
        padding: 3px;
    }
    .menu{
        margin-right: 30px;
        display: flex;
        background-color: white;
        border-radius:8px;
        .cl{
            color: #0966ca;
        }
        div{
            padding: 15px;
            color: #8f8e91;
            position: relative;
            i{
                position: relative;
                top: -5px;
            }
        }:hover{
            @include aks-grad(background);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    justify-content: flex-end;
     .cli:after{
         content: "";
        height: 4px;
        width: 100%;
       position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 4px 4px 0 0;
        @include aks-grad(background);
        
    }
    
}
.add::after{
    content: "\ec3e";
    font-family: 'IcoFont' ;
}
.addB::after{
    content: "\ec4f";
    font-family: 'IcoFont' ;
}

.tooB{
    
    .adder{
        margin-top: 65px;
        margin-left: 10px;
        width: max-content;
    display: flex;
    flex-direction: column;
    button{
        background-color: #ffffff;
        height: 30px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 50%;
        border: none;
        color:rgb(151, 162, 179);
        
    }:hover{
        background-color: #886494;
        color: #410056;
    }
    }
}

.cont{
    position: absolute;
    top:50px;
    left: 50%;
    margin-left: -40%;
    height: 85%;
    width: 80%;
    background-color: white;
    @include defShadow();
    overflow: auto;
    :nth-child(1){
    
    }
    
}
.viadd{
    display: flex;
    flex-direction: column;
    position: absolute;
    >button{
        border:none;
        background-color: rgb(255, 255, 255);
        height: 20px;
        width: 80px;
        border-radius: 0;
    }
}


.hi{
    display: none;
}
.vi{
    display: block;
}
.tab{
    display: flex;
    background-color: rgba(100, 148, 237, 0.274);
    div{
        color: #0966ca;
        
        padding: 5px;
        &:hover{
            background-color: white;
        }
    }
}
.addElement{
   .tabbed{
       padding: 30px;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
    .Eladder{

        &.tex{
            margin: 5px;
            color: #0966ca;
            text-align: center;
            line-height: 30px;
            height: 25px;
            width: 25px;
            font-size: 18px;
            border-radius: 50%;
            padding: 6px;
            border: solid #0966ca 5px;
        }
    }
}}


.toolBar,.addElement{
    color: #d3d3d3;
    background-color: white;

    @include toolboxCo();
}
    .toolBar{   
    .subH{
        background-color: white;
        width: 100%;
        margin: -5px;
        margin-bottom: 10px;
        padding: 5px;

        border-bottom:1px solid;
        @include aks-grad(border-image-source);
        border-image-slice: 1;

        @include aks-grad(background);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div[mod=col],div[mod=Ccol]{
        height: 20px;
        width: 20px;
        border: solid white 2px;
    box-shadow: 0 0 1px black;
        border-radius: 50%;
        margin: 5px;
    }
    div[mod=tgB]{
    padding: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    }
    >div{
        padding: 10px;
        padding-bottom: 20px;
        margin-bottom:3px ;
         box-shadow: 0 0 1px 0px #8f8e91;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         flex-wrap: wrap;
        >div{
            margin-bottom:10px ;
        }
    }
}

.node{
    position: absolute;
    @include aks-grad(background);
    border-radius: 50%;
    height: 8px;
    width: 8px;

}
.node.hor{cursor: n-resize;}
.node.ver{cursor: e-resize;}


.focus{
    position: absolute;
    pointer-events: none;
    border:1px solid;
    background-color: rgba(145, 145, 255, 0.199);
    @include aks-grad(border-image-source);
    border-image-slice: 1;
    .node{
        pointer-events: all;
    }
    .dragger{
        pointer-events: all;
        position: relative;
        background-color: white;
        color: #0966ca;
        @include defShadow();
        width: max-content;
    }
    .borderer_radi{
        pointer-events: all;
        width: 6px;
        height: 6px;
        background-color: white;
        border: solid #0966ca 2px;
        position: absolute;
    }
    .possitioner,.borderer_div{
        pointer-events: all;
        position: relative;
        top:-25px;
        float: left;
        border-left: 2px solid #0966ca2c;
        button{
            background-color: white;
            border: none;
            padding: 3px;
            margin: 3px;
            @include defShadow();
            color: #0966ca;
            border-radius: 3px;
        }
        
    }
}
.selected{
    
}

.slb{
    height: 300px;
    position: absolute;
    background-color:white;

    overflow: auto;
    padding: 10px;
    z-index: 1;
}
.opt{
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}
input[type=text],input[type=number]{
    outline: none;
    padding: 0px;
    border: none;
}
.small{
    min-width: 30%;
    input{
        margin-left:5px ;
        width:40px;

    }
    button{
        background-color: #8f8e91;
        border-radius: 5px;
        color: white;
        height: 20px;
        width: 20px;
        border: none;
    }
    .slb{
        padding: 0px;
        width: fit-content;
        height: fit-content;

        border-bottom:2px solid;
        @include aks-grad(border-image-source);
        border-image-slice: 1;
        .opt{
            padding: 5px;
        }
    }
}

.big{
    min-width: 100%;

    input{
        margin-left:5px ;
        width: 120px;
    }
}
.small,.big{
    border-bottom: solid #dadada 1px;
    margin: 5px;
    padding: 5px;
    position: relative;
    >i{color: #bebebe;}
    >.int{
        position: absolute;
        top: 32px;
        font-size: 10px;
    }
    
}
.small:focus-within,.big:focus-within{
    >i{@include aks-grad(background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

    border-bottom:2px solid;
    @include aks-grad(border-image-source);
    border-image-slice: 1;
    animation: ed .2s;
    >input{

    }
    button{
        @include aks-grad(background);
    }
    >.int{
        @include aks-grad(background);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.ed{
    
    @include aks-grad(background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.code{
    @include toolboxCo();
    background-color: white;
    >textarea{
        width:calc(100% - 30px);
        height:calc(100% - 30px);
        padding: 10px;
        border: #6d6a88 1px solid;
    }
    
}
#dia{
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
}
div[mod=txtcm]{
        >input[type=text]{
        border-bottom: solid #c0bfc0 1px;
        }
        >input[type=range]{
            width: 80%;
        }
}
input[type=range]{
    appearance: none;
    background-color: #e6e6e6;
    height: 5px;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    border-radius: 8px;
    height: 10px;
    width: 10px;
    box-shadow: 2px -2px 11px #b1a6f1;
    background-color: #ffffffea;
}
.opdiv {
    position: absolute;
    height: 400px;
    padding: 30px;
    width: 300px;
    background-color: white;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -150px;
    .linkico{
        width: 80px;
        height: 80px;
        border: solid 5px #0966ca;
        border-radius: 50%;
        color: #0966ca;
        margin: 30px;
        i{  
            position: relative;
            top: 8px;
            font-size: 60px;
        }
    }.cl1{
        margin-top: 20px;
        padding: 5px;
        box-shadow: 1px 6px 20px -10px #1e32bf;
        font-weight: 900;
        color: #0966ca;

    }
    .cl2{
        padding: 20px;
    }
    
}


@keyframes ed{
    0%{transform: scaleX(.1);}
    100%{transform: scaleX(1);}
}

@font-face{
    font-family: roboto;
    src: url(roboto-slab/RobotoSlab-Regular.ttf);
}